<div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
    <div class="default-sidebar service-sidebar">
        <div class="sidebar-widget sidebar-category">
            <div class="widget-title">
                <h3>All Services</h3>
            </div>
            <div class="widget-content">
                <ul class="category-list clearfix">
                    <li><a href="/rolling-steel-door" class="<%= currentUrl === '/rolling-steel-door' ? 'current' : '' %>">Rolling Steel Doors</a></li>
                    <li><a href="/service-doors" class="<%= currentUrl === '/service-doors' ? 'current' : '' %>">Service Doors</a></li>
                    <li><a href="/insulated-service-doors" class="<%= currentUrl === '/insulated-service-doors' ? 'current' : '' %>">Insulated Service Doors</a></li>
                    <li><a href="/counter-shutters" class="<%= currentUrl === '/counter-shutters' ? 'current' : '' %>">Counter Shutters</a></li>
                    <li><a href="/sectional-doors" class="<%= currentUrl === '/sectional-doors' ? 'current' : '' %>">Sectional Doors</a></li>
                    <li><a href="/security-doors" class="<%= currentUrl === '/security-doors' ? 'current' : '' %>">Security Doors</a></li>
                    <li><a href="/storefront-security-doors" class="<%= currentUrl === '/storefront-security-doors' ? 'current' : '' %>">Storefront Security Doors</a></li>
                    <li><a href="/security-and-hurricane-shutters" class="<%= currentUrl === '/security-and-hurricane-shutters' ? 'current' : '' %>">Security and Hurricane Shutters</a></li>
                    <li><a href="/pharmacy-doors" class="<%= currentUrl === '/pharmacy-doors' ? 'current' : '' %>">Pharmacy Doors</a></li>
                    <li><a href="/security-cases" class="<%= currentUrl === '/security-cases' ? 'current' : '' %>">Security Cases</a></li>
                    <li><a href="/specialty-doors" class="<%= currentUrl === '/specialty-doors' ? 'current' : '' %>">Specialty Doors</a></li>
                    <li><a href="/sound-doors" class="<%= currentUrl === '/sound-doors' ? 'current' : '' %>">Sound Doors</a></li>
                    <li><a href="/hanger-doors" class="<%= currentUrl === '/hanger-doors' ? 'current' : '' %>">hanger Doors</a></li>
                    <li><a href="/accordian-doors" class="<%= currentUrl === '/accordian-doors' ? 'current' : '' %>">Accordion Doors</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>