<div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
    <div class="default-sidebar service-sidebar">
        <div class="sidebar-widget sidebar-category">
            <div class="widget-title">
                <h3>All Services</h3>
            </div>
            <div class="widget-content">
                <ul class="category-list clearfix">
                    <li><a class="<%= currentUrl === '/garage-door-installation' ? 'current' : '' %>" href="/garage-door-installation">Garage Door Installation</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-repair' ? 'current' : '' %>" href="/garage-door-repair">Garage Door Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-opener' ? 'current' : '' %>" href="/garage-door-opener">Garage Door Openers</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-tension-cables-repair' ? 'current' : '' %>" href="/garage-door-tension-cables-repair">Garage Door Tension Cables Repair</a></li>
                    <li><a class="<%= currentUrl === '/overhead-garage-door-repair' ? 'current' : '' %>" href="/overhead-garage-door-repair">Overhead Garage Door Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-spring-repair' ? 'current' : '' %>" href="/garage-door-spring-repair">Garage Door Spring Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-opener-repair' ? 'current' : '' %>" href="/garage-door-opener-repair">Garage Door Opener Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-maintenance' ? 'current' : '' %>" href="/garage-door-maintenance">Garage Door Maintenance</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-safety-sensor-repair' ? 'current' : '' %>" href="/garage-door-safety-sensor-repair">Garage Door Safety Sensor Repair</a></li>
                    <li><a class="<%= currentUrl === '/emergency-garage-door-repair-and-maintenance' ? 'current' : '' %>" href="/emergency-garage-door-repair-and-maintenance">Emergency Garage Door Repair and Maintenance</a></li>
                    <li><a class="<%= currentUrl === '/garage-tension-spring-repair' ? 'current' : '' %>" href="/garage-tension-spring-repair">Garage Tension Spring Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-extension-spring-repair' ? 'current' : '' %>" href="/garage-extension-spring-repair">Garage Extension Spring Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-cable-repair' ? 'current' : '' %>" href="/garage-door-cable-repair">Garage Door Cable Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-opener-installation' ? 'current' : '' %>" href="/garage-door-opener-installation">Garage Door Opener Installation</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-tune-ups' ? 'current' : '' %>" href="/garage-door-tune-ups">Garage Door Tune Ups</a></li>
                    <li><a class="<%= currentUrl === '/commercial-garage-doors' ? 'current' : '' %>" href="/commercial-garage-doors">Commercial Garage Door</a></li>
                    <li><a class="<%= currentUrl === '/residential-garage-doors' ? 'current' : '' %>" href="/residential-garage-doors">Residential Garage Door</a></li>
                    <li><a class="<%= currentUrl === '/custom-made-garage-doors' ? 'current' : '' %>" href="/custom-made-garage-doors">Custom Made Garage Doors</a></li>
                    <li><a class="<%= currentUrl === '/rolling-door-repair-and-maintenance' ? 'current' : '' %>" href="/rolling-door-repair-and-maintenance">Rolling Door Repair and Maintenance</a></li>
                    <li><a class="<%= currentUrl === '/garage-door-track-rollers' ? 'current' : '' %>" href="/garage-door-track-rollers">Garage Door Track Rollers</a></li>
                    <li><a class="<%= currentUrl === '/off-track-garage-door-repair' ? 'current' : '' %>" href="/off-track-garage-door-repair">Off Track Garage Door Repair</a></li>
                    <li><a class="<%= currentUrl === '/garage-motor-belt-chain-replacement' ? 'current' : '' %>" href="/garage-motor-belt-chain-replacement">Garage Motor Belt/Chain Replacement</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</div>